/*BOJE:
	
	Žuta:		#f2f2dd		(242, 242, 221)
	Tamno plava:	#0e1538		(14, 21, 56)
	Plava:		#7079f7		(112, 121, 247)
	Crvena: 		#fb5b5b		(251, 91, 91)

WEB FONTOVI:
	Luxurious Roman, cursive    	-       Tekst*/ 

$yellow: #f2f2dd;
$dark-blue:#0e1538;
$blue: #7079f7;
$red: #fb5b5b;